.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.25rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.25rem;
}
.title{
    color: black;
}
.btn{  
    font-size: 2rem;
    margin-left: 1rem;
    cursor: grab;
    color: black;
}
